DB_USERNAME= database user name
DB_PASSWORD= database user password
DB_HOST= database host (localhost or any remote)
DB_PORT= database port
DB_NAME= database name
NODE_ENV=development
PORT=9001
JSON_TOKEN=kwanso@123
DB_ENABLE_SSL=true
SERVER_ADDRESS=/api/v1